/* Globals */

#page-action-menu {
    display: inline-block;
    position: relative;
}

#page-action-menu ul {
    display: none;
    list-style: none;
    border: 1px solid #dfdfdf;
    background-color: #fff;
    border-radius: 3px;
    text-align: left;
    padding: 0;
    position: relative;
    box-shadow: 0 0 5px #dfdfdf;
    position: absolute;
    right: 0;
    width: auto;
    white-space: nowrap;
    margin: 12px 0;
}

#page-action-menu ul:before {
    content: "";
    position: absolute;
    bottom: calc(100% - 1px);
    right: 12px;
    width: 0;
    height: 0;
    border-bottom: 12px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

#page-action-menu ul:after {
    content: "";
    position: absolute;
    bottom: calc(100% - 1px);
    right: 11px;
    width: 0;
    height: 0;
    border-bottom: 14px solid #dfdfdf;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    z-index: -1;
}

#page-action-menu ul a,
#page-action-menu ul .inactive {
    padding: 6px 12px 5px;
    display: block;
    position: relative;
}

#page-action-menu ul .inactive {
    color: #dfdfdf;
}

#page-action-menu ul li {
  position: relative;
}

#page-action-menu ul li:hover:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #dfdfdf;
}

#page-action-menu ul li:not(:last-child) a,
#page-action-menu ul li:not(:last-child) span,
#page-action-menu ul li:not(:last-child) [type="submit"] {
    border-bottom: 1px solid #dfdfdf;
}

#page-action-menu [type="submit"] {
    background: none;
    box-shadow: none;
    width: 100%;
    margin-bottom: 0;
    text-align: left;    
}
#page-action-menu .expand:after {
    content: "\f0d7";
}

#page-action-menu .expand:after,
#page-action-menu .collapse:after {
    margin-left: 6px;
}

#page-action-menu .collapse + .collapsible {
    overflow: visible;
    display: block;
}

.breadcrumbs > *:not(:last-child):after {
    content: none;
}

.breadcrumbs .separator {
    display: inline-block;
    margin: 0 6px;
    color: #000;
}

.breadcrumbs .separator:after {
    content: "\f0da";
    font-family: "Font Awesome 5 Free";
    margin: 0;
    font-weight: 900;
}

/* Browse */

.browse .browse-controls {
    justify-content: space-between;
    width: 100%;
    clear: both;
}

.browse .browse-controls > form,
.browse .browse-controls > div,
.browse .browse-controls > nav,
.browse .browse-controls > a {
    width: 50%;
}

.browse .browse-controls .sorting,
.browse .browse-controls .filtering {
    text-align: right;
}

.browse-controls .pagination {
    order: 1;
}

.browse-controls .sorting {
    order: 2;
}

.browse-controls > a {
  order: 3;
}

.browse-controls .filtering {
  order: 4;
  margin-left: 0;
}

.alert {
  text-indent: -9999px;
  display: inline-block;
  position: relative;
  width: 1rem;
  margin-right: .5rem;
  color: #A91919;
}

.alert:before {
  content: "\f06a";
  font-family: "Font Awesome 5 Free";
  position: absolute;
  top: 50%;
  left: 50%;
  text-indent: 0;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

.datascribe.item.browse td:first-child, 
.datascribe.item.browse th:first-child {
  width: auto;
}

.datascribe.item.browse td:nth-child(2), 
.datascribe.item.browse th:nth-child(2) {
  width: 50%;
}

.datascribe.item.browse .item-id {
  float: right;
  margin-left: auto;
}

.datascribe.record.browse td:first-child, 
.datascribe.record.browse th:first-child,
.tablesaw-swipe .tablesaw-swipe-cellpersist {
  width: 7rem !important;
  border-right: 1px solid #dfdfdf;
}

.tablesaw-swipe-wrapper th,
.record.browse th {
  width: 7rem;
}

.record.browse .select-all {
  width: auto;
}

.record.browse .record-number-cell {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.record.browse .record-number {
  text-align: right;
}

.record.browse .record-number-cell .actions {
  margin-left: 0;
}

.record-number-cell input[type="checkbox"] {
  margin-right: auto;
}

.record.browse #batch-form {
  position: relative;
}

.last.record-meta {
  border-right: 1px solid #dfdfdf;
}

.batch-actions-select {
  width: calc(25% - 3rem);
}

.tablesaw-bar {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  padding: 0 .5rem 0 0;
}

.primary-field {
  background-color: rgba(0,0,0,.04);
}

.tablesaw-swipe-wrapper {
  position: relative;
  padding-top: 2.25rem;
  width: 100%;
}

.tablesaw-swipe-wrapper > .tablesaw-bar:before {
  content: "";
  background-color:rgba(0,0,0,0.04);  
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 0;
  padding: 5px;
  min-height: 30px;
}

.tablesaw-swipe-wrapper table {
  table-layout: auto;
}

.batch-inputs > * {
  position: relative;
  z-index: 1;
}

.batch-inputs ~ .tablesaw-swipe-wrapper {
  margin-top: -2.25rem;
}

.batch-inputs ~ .tablesaw-swipe-wrapper .tablesaw-bar {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.batch-inputs ~ .tablesaw-swipe-wrapper > .tablesaw-bar:before {
  content: none;
} 

.batch-inputs ~ .tablesaw-swipe-wrapper > .tablesaw-bar .minimap {
  display: flex !important;
  align-items: center;
  height: 36px;
  max-width: 75%;
  line-height: 1;
  order: 1;
  margin-left: auto;
}

.tablesaw-advance {
  order: 2;
}

.btn.tablesaw-nav-btn.tablesaw-btn.btn-micro {
  margin: 0 .1em;
  vertical-align: bottom;
}

.tablesaw-advance-dots {
  display: flex;
  flex-wrap: wrap;
}

.tablesaw-advance-dots li {
  padding: 0 .2em;
}

.tablesaw-advance-dots li i {
  vertical-align: middle;
}

.tablesaw-swipe-wrapper > .tablesaw-bar + .tablesaw {
  border-radius: 0;
}

.meta-group.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.meta-group.checkbox .value {
  margin-left: 1rem;
  width: auto;
}

.meta-group.checkbox h4 {
  border-bottom: 0;
  width: auto;
}

/* Record Add/Edit */

.record.add div[role="main"], 
.record.edit div[role="main"] {
  overflow: visible;
}

.previous.tablesaw-swipe-wrapper {
  position: sticky;
  top: 0;
  margin-bottom: 1rem;
}

.previous.tablesaw-swipe-wrapper,
.next.tablesaw-swipe-wrapper {
  max-height: 30vh;
  overflow: auto;
}

.previous.tablesaw-swipe-wrapper,
.next.tablesaw-swipe-wrapper {
  border-radius: 3px 3px 0 0;
  border: 1px solid #dfdfdf;
  border-width: 1px;
}

.previous.tablesaw-swipe-wrapper table,
.next.tablesaw-swipe-wrapper table {
  border: 0;
  margin-bottom: 0;
}

.collapsed table,
.collapsed .tablesaw-bar > * {
  height: 0;
  overflow: hidden;
  display: block;
  border-width: 0;
  margin-bottom: 0;
}

.previous-next-rows-header {
  position: absolute;
  top: 4px;
  left: 10px;
  z-index: 100;
}

.previous-next-rows-header h3 {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 0;
}
  
.previous-next-rows-header a.button {
  display: inline-block;
  box-shadow: none;
  margin: 0;
  background-color: transparent;
}

.previous-next-rows-header a.button:hover {
  box-shadow: none;
}


.row-controls {
  display: flex;
}

.layout {
  margin-bottom: 1rem;
}

.open-guidelines {
  margin-left: auto;
}

.current-row {
  overflow: hidden;
  height: 100%;
}

.edit .current-row {
  margin-bottom: 12px;
}

.add .current-row {
  height: calc(100vh - 180px);
}

.current-row.horizontal {
  display: flex;
  flex-wrap: wrap;
}

.current-row.horizontal .row-controls {
  width: 100%;
}

.current-row.horizontal .media-viewer {
  width: 100%;
  max-width: calc(100% - 812px);
  min-width: calc(40% - 12px);
  margin-right: 12px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  height: auto;
}

.current-row.horizontal form {
  width: calc(60% - 6px);
  max-width: 800px;
  overflow-y: scroll;
  height: calc(100% - 52px);
}

.current-row.vertical {
  position: relative;
}

.current-row.vertical .media-viewer {
  width: 100%;
  text-align: center;
  height: 50%;
  overflow: hidden;
  margin-bottom: 12px;
}

.current-row.horizontal .media-container {
  height: calc(100% - 42px);
}

.current-row.horizontal .panzoom-container,
.current-row.vertical .panzoom-container {
  height: 100%;
}

.current-row.vertical .media-container {
  height: calc(100% - 42px);  
}

.current-row.vertical .media-viewer img {
  width: 100%;
}

.current-row.vertical form {
  height: calc(50% - 72px);
  overflow-y: scroll;
}

.current-row fieldset,
.current-row fieldset p {
  margin: 0;
}

.current-row fieldset p:last-of-type {
  margin-bottom: 12px;
}

.current-row .required:after {
  font-family: "Font Awesome 5 Free";
  content: "\f069";
  font-size: 12px;
  color: orange;
  margin-left: 6px;
  vertical-align: top;
}

.current-row legend {
  padding: 6px 0;
}

.current-row .required + legend {
  width: calc(100% - 36px);
}

.current-row .panzoom-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.expanded-right .current-row.horizontal .media-viewer,
.expanded-right .current-row.horizontal form {
  width: calc(50% - 6px);
}

.fullscreen .current-row {
  position: fixed;
  top: 48px;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: hidden;
  background-color: #fff;
  padding: 6px 20px;
  z-index: 2;
  margin-bottom: 0;
  height: calc(100% - 48px);
}

.fullscreen .rows .tablesaw-swipe-wrapper {
  z-index: 0;
}

.fullscreen #content > h1:first-of-type {
  z-index: 1;
  background-color: #fff;
  left: 0;
  width: 100%;
}

.fullscreen .current-row form {
  overflow: auto;
}

.common-elements {
  padding: 6px;
  background-color: rgba(0,0,0,0.04);
  display: flex;
}

.common-elements label {
  display: inline-block;
  margin-right: 24px;
}

.common-elements input[type="checkbox"] {
  margin-left: 6px;
}

.current-row fieldset {
  position: relative;
  margin-bottom: 12px;
}

.current-row fieldset.set-to-null .field,
.current-row fieldset.set-to-null .common-elements {
  position: relative;
}

.current-row fieldset.set-to-null .field:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255,255,255,.5);
}

.common-elements label.set-null-checkbox {
  margin: 0 0 0 auto;
  position: relative;
  z-index: 2;
}

.record .error,
.record .warning {
    box-shadow: 0 0 0 1px inset;
    border-radius: 3px;
    padding: 6px 10px;
    margin-top: 6px;
}

/* Form Builder */

#form-builder-fields .dataset-field {
  position: relative;
  padding: 4px;
  background-color: rgba(0,0,0,0.04);
  margin-bottom: 8px;
}

.dataset-field > legend {
  float: left;
  display: flex;
  align-items: center;
  padding: 0;
  font-weight: bold;
  position: relative;
  margin-top: -4px;
  width: calc(100% - 192px);
  height: 44px;
  line-height: 44px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 8px;
}

#form-builder-fields .dataset-field:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 44px;
  background-color: rgba(0,0,0,0.12);
}

#form-builder-fields .dataset-field.closed legend {
  margin-bottom: 0;
}

.dataset-field .sortable-handle {
  float: left;
  margin: .5rem .25rem;
}

legend .data-type-label {
  font-weight: normal;
  font-size: 14px;
  padding: 0 8px;
  background-color: rgba(0,0,0,.5);
  color: #fff;
  display: inline-block;
  position: relative;
  letter-spacing: 1px;
  margin-left: 16px;
  max-width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}

legend .field-label {
  position: relative;
  max-width: calc(100% - 296px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.field-actions {
  position: absolute;
  top: 0;
  right: 4px;
  margin-top: 4px;
  text-align: right;
  z-index: 10;
}

.field-actions button {
  box-shadow: none;
  background-color: transparent;
  opacity: .75;
  cursor: pointer;
  width: 36px;
}

.field-actions button:hover {
  box-shadow: none;
  opacity: 1;
  cursor: pointer;
}

#form-builder-fields .dataset-field:only-of-type .field-position-increment,
#form-builder-fields .dataset-field:only-of-type .field-position-decrement,
#form-builder-fields .dataset-field:first-of-type .field-position-decrement,
#form-builder-fields .dataset-field:last-of-type .field-position-increment {
  display: none;
}

.field-enable,
.field-disable,
.field-collapse,
.field-expand {
  display: none;
}

.field-actions .active {
  display: inline-block;
}

#form-builder-fields .field {
  padding: 0;
  border-color: transparent;
  background-color: transparent;
}

fieldset.closed .field,
fieldset.closed .dataset-field-data legend {
  height: 0;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#form-builder-fields .dataset-field:not(.open) {
  padding-bottom: 0;
}

#form-builder-fields .dataset-field.deleted:before {
  background-color: #fcc;
}

#form-builder-fields .dataset-field.deleted button:disabled {
  display: none;
}

#form-builder-fields .dataset-field.deleted button {
  color: #A91919;
}

#form-builder-fields .dataset-field.deleted .data-type-label {
  background-color: #A9191987;
}

.dataset-field.closed .dataset-field-data {
  margin: 0;
}

fieldset.open .dataset-field-data legend {
  border-bottom: 1px solid #dfdfdf;
  margin: 0 0 6px;
  width: 100%;
  padding: 6px 0;
  font-size: 16px
}

.last-saved-timestamp {
  font-size: .875rem;
}

.dataset .last-saved-timestamp {
  margin-bottom: 12px;
}

/* Sidebar */

body.sidebar-open #content.expanded {
    width: calc(81.25% - 12px);
}

.sidebar.always-open {
    padding-left: 23px;
}

.sidebar.always-open.collapsed {
    left: 100%;
    overflow: visible;
}

button.sidebar-drawer {
    position: fixed;
    top: 48px;
    left: 75%;
    bottom: -12px;
    width: 12px;
    padding: 0;
    border-radius: 0;
    background-color: #f7f7f7;
    box-shadow: none;
    border-right: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    transition: left .5s;
    z-index: 1;
}

button.sidebar-drawer.expand {
    left: calc(100% - 12px);
}

button.sidebar-drawer:hover {
    box-shadow: none;
}

button.sidebar-drawer:after {
    color: #676767;
    font-size: 12px;
    text-align: center;
    margin-left: 0;
}

button.sidebar-drawer.expand:after {
    content: "\f104";
}

button.sidebar-drawer.collapse:after {
    content: "\f105";
}

.sidebar .status-row h4,
.sidebar .status-row .value {
    display: inline-block;
    width: auto;
    border-bottom: 0;
    margin: 0;
}

.sidebar .action-group {
    margin-bottom: 12px;
}

.sidebar .action-group + h3 {
    margin-top: 24px;
}

.sidebar .action-group .value {
    margin-bottom: 0;
    border-bottom: 0;
}

/* Media Viewer */

.media-viewer,
.records-list {
  width: 50%;
}

.media-select {
  display: flex;
  margin-bottom: 6px;
}

.media-viewer select {
  width: 50%;
}

.media.pagination {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0;
}

.media-count {
  margin: 0 6px;
}

.media.pagination input {
  max-width: 25%;
}

.media.pagination button {
  margin: 0;
}

.media-viewer .media-container {
  margin-bottom: 6px;
  border: 1px solid #ccc;
}

.media-viewer .media-render {
  margin-bottom: 0;
  overflow: hidden;
}

.media-viewer img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.zoom-controls {
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 1;
    display: flex;
}

.zoom-controls button {
    position: relative;
    overflow: hidden;
    border-radius: 0;
    margin-left: -1px;
    box-shadow: none;
    border: 1px solid #dfdfdf;
    min-height: 0;
    padding: 3px 6px;
    font-size: 14px;
    line-height: 21px;
}

.zoom-controls button:first-child {
    border-radius: 3px 0 0 3px;
}

.zoom-controls button:last-child {
    border-radius: 0 3px 3px 0;
}

.zoom-controls button:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: -1;
}

.zoom-controls button:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.zoom-in:before {
    content: "\f00e";
}

.zoom-out:before {
    content: "\f010";
}

.rotate-left:before {
    content: "\f2ea";
}

.rotate-right:before {
    content: "\f2f9";
}

.layout {
    display: inline-flex;
    align-items: center;
    margin-left: 12px;
}

.layout label {
    display: inline-block;
    margin-right: 12px;
}

.layout button {
    margin-bottom: 0;
    box-shadow: none;
    border: 1px solid #dfdfdf;
    position: relative;
    width: 36px;
    height: 36px
}

.layout button:after {
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-weight: 900;
}

.layout button:hover {
    z-index: 1;
    box-shadow: none !important;
}

.layout button:not(:disabled):hover {
    border: 1px solid #999;
}

.layout .horizontal {
    border-radius: 3px 0 0 3px;
}

.layout .horizontal:after {
    content: "\f337";
}

.layout .vertical {
    border-radius: 0 3px 3px 0;
    margin-left: -1px;
}

.layout .vertical:after {
    content: "\f338";
}

body.fullscreen {
  overflow: hidden;
}

.fullscreen #content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
}

body.sidebar-open #content.fullscreen {
  width: 75%;
}

body.sidebar-open #content.expanded.fullscreen,
div[role="main"].fullscreen > h1:first-of-type {
    width: 100%;
}

.rows {
  height: calc(100vh - 104px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.guidelines-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 10000;
}

.guidelines-content {
  background-color: #fff;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  max-width: 75rem;
  margin: 1rem auto;
  padding: 1rem;
  position: relative;
}

.close-guidelines {
  position: absolute;
  top: 1rem;
  right: 1rem;
  box-shadow: none;
  background-color: transparent;
}

.close-guidelines:hover:not(.inactive) {
  box-shadow: none;
}

.close-guidelines:before {
  content: "\f00d";
  font-family: "Font Awesome 5 Free";
}

.guidelines-container.closed {
  display: none;
}

/* Dashboard */

.welcome {
  margin: 0 0 24px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  padding: 6px;
}

.dashboard .project.browse:not(:only-child) {
  width: calc(50% - 6px);
  margin-right: 12px;
  float: left;
}

.my-projects {
  width: calc(50% - 6px);
  display: inline-block;
}

.my-projects h2 {
  width: 100%;
}

.user-projects {
  list-style: none;
  border-radius: 3px;
  border: 1px solid #dfdfdf;
  padding-left: 0;
}

.user-projects ul {
  list-style: none;
  padding-left: 0;
}

.user-projects li.project {
  background-color: rgba(0, 0, 0, .08);
}

.user-projects .dataset {
  background-color: #fff;
  margin: 6px -6px -6px;
  padding: 6px;
  border-top: 1px solid #dfdfdf;
}

.user-projects li.project:not(:last-child) {
  border-bottom: 1px solid #dfdfdf;
  
}

.user-projects li {
  padding: 0;
}

.user-projects > li {
  padding: 6px;
}

.user-projects .items {
  margin-top: 6px;
}

.user-projects .category {
  border-top: 1px solid #dfdfdf;
  margin: 0 -6px;
  padding: 6px;
  display: flex;
}

.category-label {
  width: 30%;
  margin: 0 12px;
}

.category-items {
  background-color: #fff;
  display: block;
  margin: -6px 0;
  padding: 6px;
}

.category-items:not(:last-child):after {
  content: "|";
  display: inline-block;
  margin: 0 -6px 0 6px;
  color: #dfdfdf;
}
